HealthClientApp/src/META-INF/wsdl/localhost_8080/HealthFitnessCalc/HealthWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://healthwebservice.khor.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://healthwebservice.khor.com/">

<xs:element name="calculateAge" type="tns:calculateAge"/>

<xs:element name="calculateAgeResponse" type="tns:calculateAgeResponse"/>

<xs:element name="calculateBFP" type="tns:calculateBFP"/>

<xs:element name="calculateBFPResponse" type="tns:calculateBFPResponse"/>

<xs:element name="calculateBMI" type="tns:calculateBMI"/>

<xs:element name="calculateBMIResponse" type="tns:calculateBMIResponse"/>

<xs:element name="calculateBMR" type="tns:calculateBMR"/>

<xs:element name="calculateBMRResponse" type="tns:calculateBMRResponse"/>

<xs:element name="calculateCBR" type="tns:calculateCBR"/>

<xs:element name="calculateCBRResponse" type="tns:calculateCBRResponse"/>

<xs:element name="calculateLBM" type="tns:calculateLBM"/>

<xs:element name="calculateLBMResponse" type="tns:calculateLBMResponse"/>

<xs:element name="getUserInfo" type="tns:getUserInfo"/>

<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

<xs:complexType name="calculateBMR">
<xs:sequence>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="weight" type="xs:double"/>
<xs:element name="height" type="xs:double"/>
<xs:element name="age" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMRResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateCBR">
<xs:sequence>
<xs:element name="weight" type="xs:double"/>
<xs:element name="duration" type="xs:double"/>
<xs:element name="met" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateCBRResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateAge">
<xs:sequence>
<xs:element name="idNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateAgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMI">
<xs:sequence>
<xs:element name="weight" type="xs:double"/>
<xs:element name="height" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMIResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBFP">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="bmi" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBFPResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfo">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="idNumber" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="weight" type="xs:double"/>
<xs:element name="height" type="xs:double"/>
<xs:element name="met" type="xs:double"/>
<xs:element name="duration" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateLBM">
<xs:sequence>
<xs:element name="weight" type="xs:double"/>
<xs:element name="height" type="xs:double"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateLBMResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>