HealthClientApp/xml-resources/web-service-references/HealthWebService/wsdl/localhost_8080/HealthFitnessCalc/HealthWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://healthwebservice.khor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://healthwebservice.khor.com/" name="HealthWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://healthwebservice.khor.com/" schemaLocation="http://localhost:8080/HealthFitnessCalc/HealthWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"/>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"/>
</message>
<message name="calculateBMR">
<part name="parameters" element="tns:calculateBMR"/>
</message>
<message name="calculateBMRResponse">
<part name="parameters" element="tns:calculateBMRResponse"/>
</message>
<message name="calculateLBM">
<part name="parameters" element="tns:calculateLBM"/>
</message>
<message name="calculateLBMResponse">
<part name="parameters" element="tns:calculateLBMResponse"/>
</message>
<message name="calculateCBR">
<part name="parameters" element="tns:calculateCBR"/>
</message>
<message name="calculateCBRResponse">
<part name="parameters" element="tns:calculateCBRResponse"/>
</message>
<message name="calculateBFP">
<part name="parameters" element="tns:calculateBFP"/>
</message>
<message name="calculateBFPResponse">
<part name="parameters" element="tns:calculateBFPResponse"/>
</message>
<message name="calculateBMI">
<part name="parameters" element="tns:calculateBMI"/>
</message>
<message name="calculateBMIResponse">
<part name="parameters" element="tns:calculateBMIResponse"/>
</message>
<message name="calculateAge">
<part name="parameters" element="tns:calculateAge"/>
</message>
<message name="calculateAgeResponse">
<part name="parameters" element="tns:calculateAgeResponse"/>
</message>
<portType name="HealthWebService">
<operation name="getUserInfo">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getUserInfoRequest" message="tns:getUserInfo"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getUserInfoResponse" message="tns:getUserInfoResponse"/>
</operation>
<operation name="calculateBMR">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateBMRRequest" message="tns:calculateBMR"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateBMRResponse" message="tns:calculateBMRResponse"/>
</operation>
<operation name="calculateLBM">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateLBMRequest" message="tns:calculateLBM"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateLBMResponse" message="tns:calculateLBMResponse"/>
</operation>
<operation name="calculateCBR">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateCBRRequest" message="tns:calculateCBR"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateCBRResponse" message="tns:calculateCBRResponse"/>
</operation>
<operation name="calculateBFP">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateBFPRequest" message="tns:calculateBFP"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateBFPResponse" message="tns:calculateBFPResponse"/>
</operation>
<operation name="calculateBMI">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateBMIRequest" message="tns:calculateBMI"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateBMIResponse" message="tns:calculateBMIResponse"/>
</operation>
<operation name="calculateAge">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateAgeRequest" message="tns:calculateAge"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calculateAgeResponse" message="tns:calculateAgeResponse"/>
</operation>
</portType>
<binding name="HealthWebServicePortBinding" type="tns:HealthWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateBMR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateLBM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateCBR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateBFP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateAge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HealthWebService">
<port name="HealthWebServicePort" binding="tns:HealthWebServicePortBinding">
<soap:address location="http://localhost:8080/HealthFitnessCalc/HealthWebService"/>
</port>
</service>
</definitions>