HealthClientApp/xml-resources/web-service-references/HealthWebService/wsdl/localhost_8080/HealthFitnessCalc/HealthWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://healthwebservice.khor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://healthwebservice.khor.com/" name="HealthWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://healthwebservice.khor.com/" schemaLocation="http://localhost:8080/HealthFitnessCalc/HealthWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="calcAge">
<part name="parameters" element="tns:calcAge"/>
</message>
<message name="calcAgeResponse">
<part name="parameters" element="tns:calcAgeResponse"/>
</message>
<message name="calcBMIValue">
<part name="parameters" element="tns:calcBMIValue"/>
</message>
<message name="calcBMIValueResponse">
<part name="parameters" element="tns:calcBMIValueResponse"/>
</message>
<message name="calcBFPValue">
<part name="parameters" element="tns:calcBFPValue"/>
</message>
<message name="calcBFPValueResponse">
<part name="parameters" element="tns:calcBFPValueResponse"/>
</message>
<message name="getBFPCategories">
<part name="parameters" element="tns:getBFPCategories"/>
</message>
<message name="getBFPCategoriesResponse">
<part name="parameters" element="tns:getBFPCategoriesResponse"/>
</message>
<message name="calcBMRValue">
<part name="parameters" element="tns:calcBMRValue"/>
</message>
<message name="calcBMRValueResponse">
<part name="parameters" element="tns:calcBMRValueResponse"/>
</message>
<message name="getBMICategories">
<part name="parameters" element="tns:getBMICategories"/>
</message>
<message name="getBMICategoriesResponse">
<part name="parameters" element="tns:getBMICategoriesResponse"/>
</message>
<message name="getBMRCategories">
<part name="parameters" element="tns:getBMRCategories"/>
</message>
<message name="getBMRCategoriesResponse">
<part name="parameters" element="tns:getBMRCategoriesResponse"/>
</message>
<message name="getLBMCategories">
<part name="parameters" element="tns:getLBMCategories"/>
</message>
<message name="getLBMCategoriesResponse">
<part name="parameters" element="tns:getLBMCategoriesResponse"/>
</message>
<message name="calcLBMValue">
<part name="parameters" element="tns:calcLBMValue"/>
</message>
<message name="calcLBMValueResponse">
<part name="parameters" element="tns:calcLBMValueResponse"/>
</message>
<message name="calcCaloriesValue">
<part name="parameters" element="tns:calcCaloriesValue"/>
</message>
<message name="calcCaloriesValueResponse">
<part name="parameters" element="tns:calcCaloriesValueResponse"/>
</message>
<message name="getCaloriesCategories">
<part name="parameters" element="tns:getCaloriesCategories"/>
</message>
<message name="getCaloriesCategoriesResponse">
<part name="parameters" element="tns:getCaloriesCategoriesResponse"/>
</message>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"/>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"/>
</message>
<portType name="HealthWebService">
<operation name="calcAge">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcAgeRequest" message="tns:calcAge"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcAgeResponse" message="tns:calcAgeResponse"/>
</operation>
<operation name="calcBMIValue">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcBMIValueRequest" message="tns:calcBMIValue"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcBMIValueResponse" message="tns:calcBMIValueResponse"/>
</operation>
<operation name="calcBFPValue">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcBFPValueRequest" message="tns:calcBFPValue"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcBFPValueResponse" message="tns:calcBFPValueResponse"/>
</operation>
<operation name="getBFPCategories">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getBFPCategoriesRequest" message="tns:getBFPCategories"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getBFPCategoriesResponse" message="tns:getBFPCategoriesResponse"/>
</operation>
<operation name="calcBMRValue">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcBMRValueRequest" message="tns:calcBMRValue"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcBMRValueResponse" message="tns:calcBMRValueResponse"/>
</operation>
<operation name="getBMICategories">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getBMICategoriesRequest" message="tns:getBMICategories"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getBMICategoriesResponse" message="tns:getBMICategoriesResponse"/>
</operation>
<operation name="getBMRCategories">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getBMRCategoriesRequest" message="tns:getBMRCategories"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getBMRCategoriesResponse" message="tns:getBMRCategoriesResponse"/>
</operation>
<operation name="getLBMCategories">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getLBMCategoriesRequest" message="tns:getLBMCategories"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getLBMCategoriesResponse" message="tns:getLBMCategoriesResponse"/>
</operation>
<operation name="calcLBMValue">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcLBMValueRequest" message="tns:calcLBMValue"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcLBMValueResponse" message="tns:calcLBMValueResponse"/>
</operation>
<operation name="calcCaloriesValue">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcCaloriesValueRequest" message="tns:calcCaloriesValue"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/calcCaloriesValueResponse" message="tns:calcCaloriesValueResponse"/>
</operation>
<operation name="getCaloriesCategories">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getCaloriesCategoriesRequest" message="tns:getCaloriesCategories"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getCaloriesCategoriesResponse" message="tns:getCaloriesCategoriesResponse"/>
</operation>
<operation name="getUserInfo">
<input wsam:Action="http://healthwebservice.khor.com/HealthWebService/getUserInfoRequest" message="tns:getUserInfo"/>
<output wsam:Action="http://healthwebservice.khor.com/HealthWebService/getUserInfoResponse" message="tns:getUserInfoResponse"/>
</operation>
</portType>
<binding name="HealthWebServicePortBinding" type="tns:HealthWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calcAge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcBMIValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcBFPValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBFPCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcBMRValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBMICategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBMRCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLBMCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcLBMValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcCaloriesValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCaloriesCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HealthWebService">
<port name="HealthWebServicePort" binding="tns:HealthWebServicePortBinding">
<soap:address location="http://localhost:8080/HealthFitnessCalc/HealthWebService"/>
</port>
</service>
</definitions>